inputs/circle_4k.png filter=lfs diff=lfs merge=lfs -text
inputs/circle.png filter=lfs diff=lfs merge=lfs -text
inputs/gradient_diagonal.png filter=lfs diff=lfs merge=lfs -text
inputs/gradient_radial_4k.png filter=lfs diff=lfs merge=lfs -text
inputs/lion.png filter=lfs diff=lfs merge=lfs -text
inputs/postcard.jpg filter=lfs diff=lfs merge=lfs -text
inputs/spiral.png filter=lfs diff=lfs merge=lfs -text
inputs/chainsaw.jpg filter=lfs diff=lfs merge=lfs -text
inputs/gradient_conical.png filter=lfs diff=lfs merge=lfs -text
inputs/flower_1.png filter=lfs diff=lfs merge=lfs -text
outputs/circle_2.png filter=lfs diff=lfs merge=lfs -text
outputs/circle_path_4k.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/circle_small_img_magnitude.png filter=lfs diff=lfs merge=lfs -text
outputs/cppn_time_tan_symxy.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/postcard.png filter=lfs diff=lfs merge=lfs -text
outputs/runif_wide.png filter=lfs diff=lfs merge=lfs -text
outputs/cppn_time_4.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/flower.png filter=lfs diff=lfs merge=lfs -text
outputs/img_spaceflower.png filter=lfs diff=lfs merge=lfs -text
outputs/spiral.png filter=lfs diff=lfs merge=lfs -text
outputs/symmetric_xy_tan.png filter=lfs diff=lfs merge=lfs -text
outputs/circle_horizontal.png filter=lfs diff=lfs merge=lfs -text
outputs/circle_path.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/circle.png filter=lfs diff=lfs merge=lfs -text
outputs/lion.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/move_line_2.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/cppn_time_sin.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/glitch.png filter=lfs diff=lfs merge=lfs -text
outputs/runif_deep_4k.png filter=lfs diff=lfs merge=lfs -text
outputs/symmetric_x.png filter=lfs diff=lfs merge=lfs -text
outputs/symmetric_xy.png filter=lfs diff=lfs merge=lfs -text
outputs/conv.png filter=lfs diff=lfs merge=lfs -text
outputs/cppn_time_2.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/cppn_time.gif filter=lfs diff=lfs merge=lfs -text
outputs/img_veinsofgold.png filter=lfs diff=lfs merge=lfs -text
outputs/move_line.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/circle_circle_path_4k_longer.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/circle_circle_path_4k.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/conv_bigfilters.png filter=lfs diff=lfs merge=lfs -text
outputs/runif_-1to1_4k_1.png filter=lfs diff=lfs merge=lfs -text
outputs/circle_path_symm_4k.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/circle_path_wide.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/runif_-1to1_1.png filter=lfs diff=lfs merge=lfs -text
outputs/cppn_time_3.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/cppn_time_tan.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/fast.png filter=lfs diff=lfs merge=lfs -text
